.groupArticle2{
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-right: 7%;
    justify-content: center;
    background-color: #1e1e1e;
}
.groupArticle2 article{
    background-color: #131313;
    height: min-content;
    text-align: center;
    max-width: 25%;
    padding: 2%;
}
.groupArticle2 article:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 6%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.groupArticle2 article:nth-child(2){
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 6%;
}
.groupArticle2 article:nth-child(3){
    margin-top: 10%;
    margin-left: 7%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.groupArticle2 article:last-child{
    margin-top: 2%;
    margin-right: 10%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}       
li{
    margin-bottom: 5px;
    font-size: 1em;
}
.groupArticle2 p{
    margin-top: 2%;
    margin-bottom: 2%;
}
.titre{
    text-align: left;
    font-size: 1em;
}
ul ul li{
    list-style-type: none;
}
.groupArticle2 article>h3{
    font-size: 1em;
}

/*-------------------------------------------------article FUTUR---------------------------------------------------*/
article.futur h4{
    padding: 10px;
}
.groupArticle2 h5{
    text-align: left;
    padding-bottom: 2%;
}
/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
    .groupArticle2{
        flex-direction: column;
    }
    .groupArticle2 article:nth-child(n){
        margin: 0%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        max-width: 70%;
    }
    li{
        list-style-type: none;
    }
}
