*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
body{
	width: 100%;
	background-color: rgb(218, 218, 218);
	height:auto
}
/* .menu_deroule{
	height: 100%;
	width: 100%;
	background-color: #1e1e1e;
	position: absolute;
	color: white;
} */

p, article{
	color: white;
}
.article_main{
	display :flex;
	flex-direction: column;
	text-align: center;
	font-size: clamp(30px,2.5vw,2.5vw);
	width: 100%;
	justify-content: center;
}
.mainArt{
	margin: auto;
	width: 50%;
}

header{
	background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.35057773109243695) 70%),url("image_presentation.jpg");
	background-size: 100%;
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
}

i{
	margin-right: 5px
}
div.notification{
	visibility: hidden;
	cursor: pointer;
}

#nav{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	position: fixed;
	transition: top 0.1s;
	background-color: white;
	transition: 0.3s;
}

#nav.isTop{
	background-color: rgba(255, 255, 255, 0);
	transition: 0.3s;
}

.cote-D, .cote-G{
	display: flex;
}

div.recherche, div.menu{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
	width:  200px;
	height: 75px;
	cursor: pointer;
}
img.logo{
	width: 200px;
}
nav p{
	margin-left: 50px;
	display: flex;
	align-items: center;
}
div.recherche:hover, div.menu:hover{
	background-color: rgb(138, 135, 135);
}

.Top_article{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	margin-top: 5em;
}
.Top_article article{
	background-color: rgb(194, 192, 192);
	text-align: center;
	margin: 5%;
	color: black;
	cursor: pointer;
}
article .bde-zoom{
	display: flex;
	margin: auto;
}
.bde{
	width: 100%;
	transition: transform .5s;
}
.bde-zoom{
	width: 100%;
	overflow: hidden;
	}
.Top_article article:hover .bde{
	-ms-transform: scale(2) translate(0px); /* IE 9 */
	-webkit-transform: scale(2) translate(0px); /* Safari 3-8 */
	transform: scale(2) translate(0px);
}
.Top_article article:hover{
	background-color: white;
	
}
.Top_article article:hover i{
	color:#1e1e1e;
}
.icone{
	display: flex;
	font-size: 200%;
	text-align: left;
	margin-top: 5%;
}
.icone p{
	margin: 2px 0 0 10px;
	color: #444444;
	font-size: 0.6em;
}
article h3, article .icone{
	padding: 0% 3% 3% 3%;
	color:#444444;
}
article h2 {
	margin: 2%;
    text-decoration:none;
    font-size: 1.3em;
    color: #444444;
}
article h2:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
article:hover h2:after {
  width: 50%;
  background: #444;
}
@media screen and (max-width: 900px) {
	div.recherche,
div.menu{
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: transparent;
	color: white;
	width:  0px;
	height: 0px;
	padding: 20px;
}
nav p{
	display: none;
}
div.notification{
	justify-content: right;
	align-items: center;
	display: flex;
	background-color: transparent;
	color: rgb(209, 12, 12);
	width:  0px;
	height: 0px;
	visibility: visible;
	padding: 20px;
}
}