*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
body{
	width: 100%;
}

p, article, a{
	color: white;
}
.article_main{
	display :flex;
	flex-direction: column;
	text-align: center;
	font-size: clamp(30px,2.5vw,2.5vw);
	width: 100%;
	justify-content: center;
}
.mainArt{
	margin: auto;
	width: 50%;
}

header{
	background-image:linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 0%, rgba(14,14,14,0.35057773109243695) 70%),url("image_presentation.jpg");
	background-size: 100%;
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
}

i{
	margin-right: 5px
}
div.notification{
	visibility: hidden;
	cursor: pointer;
}

#nav{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	position: fixed;
	transition: top 0.1s;
	background-color: rgb(218, 218, 218);
	transition: 0.3s;
	z-index: 1;
}

#nav.isTop{
	background-color: rgba(255, 255, 255, 0);
	transition: 0.3s;
}

.cote-D, .cote-G{
	display: flex;
}

button{
	border: none;
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: black;
	color: white;
	width:  200px;
	height: 75px;
	cursor: pointer;
}
img.logo{
	width: 200px;
}
nav p{
	margin-left: 50px;
	display: flex;
	align-items: center;
}
button:hover{
	background-color: rgb(49, 49, 49);
}

/* vvvvvvvvvvv top article vvvvvvvvvvv */


.Top_article{
	display: flex;
	justify-content: space-evenly;
	background-color: #0e0e0e;
	padding-top: 100px;
}
.Top_article article{
	background-color: #1e1e1e;
	text-align: center;
	color: black;
	cursor: pointer;
	max-width: 25%;
}

article .bde-zoom{
	display: flex;
	margin: auto;
}
.bde{
	width: 100%;
	transition: transform .5s;
}
.bde-zoom{
	width: 100%;
	overflow: hidden;
	}
.Top_article article:hover .bde{
	-ms-transform: scale(2) translate(0px); /* IE 9 */
	-webkit-transform: scale(2) translate(0px); /* Safari 3-8 */
	transform: scale(2) translate(0px);
}
.Top_article article:hover{
	background-color: #484e54;
	
}
.Top_article article:hover i{
	color: white;
}
.icone{
	display: flex;
	font-size: 200%;
	text-align: left;
	margin-top: 5%;
}
.icone p{
	margin: 2px 0 0 10px;
	color: white;
	font-size: 0.6em;
}
article h3, article .icone{
	padding: 0% 3% 3% 3%;
	color : white;
}
article h2 {
	margin: 2%;
    text-decoration:none;
    font-size: 1.3em;
    color: white;
}
article h2:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
article:hover h2:after {
  width: 50%;
  background: white;
}

.menumodal a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.menumodal a:hover:after {
  width: 100%;
  background: white;
}

/* vvvvvvvvvvv fenetre recherche modal vvvvvvvvvvv */

.searchbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:  500px;
	height: 75px;
	position: fixed;
	right: 200px;
	top: 0px;
	animation: opacity 0.5s ease;
	outline: oldlace;
}

.searchbar input {
	width: 300px;
	font-size: 40px ;
	background-color: black;
	color: white;
	padding: 0px;
	border: none;
	outline: none;
	padding-left: 20px;
}

/* vvvvvvvvvvv fenetre menu modal vvvvvvvvvvv */

.menumodal{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #708090;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	padding-left: 10%;
	animation: movingTopToBottom 1s ease;
	top: 0px;
	left: 0px;
}

 .menumodal button {
	background-color: transparent;
}
.menumodal button > i{
	font-size: 500%;
}
.menumodal button > i {
	-webkit-transition: -webkit-transform .8s ease-in-out;
			transition:         transform .8s ease-in-out;
  }
.menumodal button > i:hover {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
}

.menumodal a {
	font-size: 30px;
	font-family: arial;
	animation: opacity 1s ease-in;
	max-width: fit-content;
	cursor: pointer;
	text-decoration: none;
}
/*--------------------------footer------------------------------------*/
footer{
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #0e0e0e;
	color: white;
}
footer div {
	display: flex;
	justify-content: center;
}
.excellence-techno{
	padding-bottom: 10%;
	max-width: 25%;
}

/* vvvvvvvvvvv animation keyframes vvvvvvvvvvv */

@keyframes movingTopToBottom {
	0% {
	  top: -100%;
	}
	100% {
	  top: 0%;
	}
}

@keyframes opacity {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}



/* vvvvvvvvvvv fenetre menu modal media vvvvvvvvvvv */

@media screen and (max-width: 900px) {
	button{
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: transparent;
		color: #444;
		width:  0px;
		height: 0px;
		padding: 20px;
	}
	nav p{
		display: none;
	}
	div.notification{
		justify-content: right;
		align-items: center;
		display: flex;
		background-color: transparent;
		color: rgb(209, 12, 12);
		width:  0px;
		height: 0px;
		visibility: visible;
		padding: 20px;
	}
}