/* ------------ wrapper ------------ */

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* ------------ article ------------ */

.event {
    display: flex;
    flex-direction: row;
    background-color:#1e1e1e;
    height: fit-content;
    width: 90%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 30px;
}

.event div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.event div span {
    font-size: 150%;
}

.event div p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: justify;
    line-height: 150%;
}

img {
    width: 40%;
    border-radius: 10px;
    object-fit: contain;
}