/*FBE0C3     #7D8E95     #FFBB89 */
:root{
    --couleur_marque_page:  #FBE0C3;
    --couleur_texte: #7D8E95;
}

*{
    padding: 0;
    margin: 0;

}

body{
    display: flex;
    flex-direction: column;
}

.article1 {
    position: relative;
}

.imgarticle1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    max-width: 100vw;
}

.textarticle1, .shadow {
    margin:auto;
    left:0;
    right:0;
    top:0;
    
    position: absolute;
}

.textarticle1 {
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: center;
    margin-top: 15%;
    text-align: center;
    font-size: 3vw;
    color: white;
    z-index: 1;
    height: 100%;
}

.shadow {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,0.35057773109243695) 100%);
    max-width: 100vw;
}

.article2 > div {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 0, 0);
}





i{
    margin-right: 5px
}



.cote-D, .cote-G{
    display: flex;
}
div.recherche,
div.menu{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    color: white;
    width:  200px;
    height: 75px;
}
img.logo{
    width: 200px;
}
p{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
div.recherche:hover, div.menu:hover{
    background-color: grey;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr;
}

nav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}