*{
	margin: 0;
	padding: 0;

	font-family: arial;
	color: white;
}
body{
	width: 100%;
	background-color: #0e0e0e;
}
h1{
	font-family: serif;
	font-size: 2em;
}
h2{
	font-size: 1.7em;
	font-family: serif;
}
h4{
	font-size: 0.9em;
}
li{
	font-family: serif;
}

/*-----------------------------------------------------header------------------------------------------------------*/
header{
	background-image:linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 0%, rgba(14,14,14,0.35057773109243695) 70%),url("../image/image_presentation.jpg");
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
}
.page-ouverte{
	color: rgb(95, 95, 95);
}

button.notification{
	visibility: hidden;
	cursor: pointer;
}

#nav{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	position: fixed;
	transition: top 0.1s;
	background-color: rgba(0, 0, 0, 0.377);
	transition: 0.3s;
	z-index: 1;
}

#nav.isTop{
	background-color: rgba(255, 255, 255, 0);
	transition: 0.3s;
}
.cote-G{
	padding-left: 3px;
}
.cote-D, .cote-G{
	display: flex;
}
button div{
	font-size: 1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
	border: none;
	justify-content: center;
	align-items: center;
	background-color: black;
	width:  200px;
	height: 75px;
	cursor: pointer;
	
}
nav i{
	margin-right: 10px;
}
.recherche button{
	border-bottom-left-radius: 10px;
}
img.logo{
	width: 200px;
}
nav p{
	margin-left: 50px;
	display: flex;
	align-items: center;
}
button:hover{
	background-color: rgb(49, 49, 49);
}

/* vvvvvvvvvvv fenetre recherche modal vvvvvvvvvvv */

.searchbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width:  500px;
	height: 75px;
	position: fixed;
	right: 200px;
	top: 0px;
	animation: opacity 0.5s ease;
	outline: oldlace;
	
}

.searchbar input {
	width: 300px;
	font-size: 40px ;
	background-color: black;
	padding: 0px;
	border: none;
	outline: none;
	padding-left: 20px;
	font-size: 1em;
	border-bottom-left-radius: 10px;
}

/* vvvvvvvvvvv fenetre menu modal vvvvvvvvvvv */

.menumodal{
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #0e0e0e;
	width: 100%;
	height: 100%;
	justify-content: space-evenly;
	padding-left: 10%;
	animation: movingTopToBottom 1s ease;
	top: 0px;
	left: 0px;
	z-index: 3;
}

.searchbar{
	z-index: 2;
}

 .menumodal button {
	background-color: transparent;
	font-size: 4em;
	position: absolute;
	top: 5%; right: 12%;
}

.menumodal button > i {
	-webkit-transition: -webkit-transform .8s ease-in-out;
			transition:         transform .8s ease-in-out;
  }
.menumodal button > i:hover {
	-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
}

.menumodal a {
	font-size: 30px;
	font-family: arial;
	animation: opacity 1s ease-in;
	max-width: fit-content;
	cursor: pointer;
	text-decoration: none;
}

.menumodal a:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.menumodal a:hover:after {
  width: 100%;
  background: white;
}
/*--------------------------footer------------------------------------*/
footer{
	padding-top: 40px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #0e0e0e;
}
.excellence-techno{
	max-width: 350px;
}
footer div a{
	padding: 3px;
}
footer div{
	min-width: 230px;
}
footer div{
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}
footer div:last-child{
	font-size: 2em;
}
/* vvvvvvvvvvv animation keyframes vvvvvvvvvvv */

@keyframes movingTopToBottom {
	0% {
	  top: -100%;
	}
	100% {
	  top: 0%;
	}
}

@keyframes opacity {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}



/* vvvvvvvvvvv fenetre menu modal media vvvvvvvvvvv */

@media screen and (max-width: 900px) {
	button{
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
		background-color: transparent;
		width:  80px;
		height: 10px;
		padding: 20px;
	}
	.recherche button:hover, .menu button:hover, .searchbar button:hover, .close:hover{
		background-color: transparent;
	}
	nav p{
		display: none;
	}
	button.notification{
		border: none;
		justify-content: right;
		align-items: center;
		display: flex;
		background-color: transparent;
		color: rgb(209, 12, 12);
		width:  0px;
		height: 0px;
		visibility: visible;
		padding: 20px;
	}
	
	.Top_article
	{
		flex-direction: column;
		align-items: center;
	}
	 .Top_article article
	{
		max-width: 80%;
		margin-bottom: 10px;
	}
	.excellence-techno{
		display: none;
	}
}
@media screen and (max-width: 600px) {

	button{
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: transparent;
		width:  20px;
		height: 40px;
		padding: 10px;
	}
}